<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="kg.fuku.autoMybatis.contribution1">
         <menu
               label="空港代码生成器" 
               path="additions"
               id="kg.fuku.autoMybatis.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <menu
               label="空港OA生成器" 
               path="additions"
               id="kg.fuku.autoMybatis.menu2">
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               label="生产POJO"
               class="fuku.automybatis.popup.actions.GeneratePojoAction"
               menubarPath="kg.fuku.autoMybatis.menu2/group2"
               enablesFor="1"
               id="kg.fuku.autoMybatis.newAction7">
         </action>
         <action
               label="生产OA页面"
               class="fuku.automybatis.popup.actions.GenerateOAPageAction"
               menubarPath="kg.fuku.autoMybatis.menu2/group2"
               enablesFor="1"
               id="kg.fuku.autoMybatis.newAction8">
         </action>
         <action
               label="生产自定义mapper"
               class="fuku.automybatis.popup.actions.GenerateCustomMapperAction"
               menubarPath="kg.fuku.autoMybatis.menu1/group1"
               enablesFor="1"
               id="kg.fuku.autoMybatis.newAction2">
         </action>
         <action
           label="生成控制器"
           class="fuku.automybatis.popup.actions.GenerateControllerAction"
           menubarPath="kg.fuku.autoMybatis.menu1/group1"
           enablesFor="1"
           id="kg.fuku.autoMybatis.newAction6">
         </action>
          <action
               label="生成Serivice代码"
               class="fuku.automybatis.popup.actions.GenerateServiceAction"
               menubarPath="kg.fuku.autoMybatis.menu1/group1"
               enablesFor="1"
               id="kg.fuku.autoMybatis.newAction5">
         </action>
          <action
               label="生产Search对象"
               class="fuku.automybatis.popup.actions.GenerateSearchAction"
               menubarPath="kg.fuku.autoMybatis.menu1/group1"
               enablesFor="1"
               id="kg.fuku.autoMybatis.newAction3">
         </action>
          <action
               label="生产dao层代码"
               class="fuku.automybatis.popup.actions.GenerateMapperAction"
               menubarPath="kg.fuku.autoMybatis.menu1/group1"
               enablesFor="1"
               id="kg.fuku.autoMybatis.newAction1">
         </action>
          <action
           label="生成页面"
           class="fuku.automybatis.popup.actions.GeneratePageAction"
           menubarPath="kg.fuku.autoMybatis.menu1/group1"
           enablesFor="1"
           id="kg.fuku.autoMybatis.newAction0">
         </action>
      </objectContribution>
   </extension>

</plugin>
